{% extends 'base.html' %}
{% block body %}
<div class="container">
  <h1 style="text-align: center;margin-bottom: 3rem; text-transform: uppercase;">google apps</h1>
    <div class="px-lg-5">    
  

      <div class="row row-cols-1 row-cols-md-2 g-4">

        <a href="https://www.google.com/intl/en_in/chrome/" target="_blank" class="col no-link">
          <div class="card">
            <img class="logo-img" src="https://www.zdnet.com/a/hub/i/r/2018/11/22/3537d7d0-bf96-401e-8d88-934f35884a16/resize/1200x900/ddb15e48489401c05500439e4d89692a/googlechrome.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Chrome</h4>
              <p class="card-text">Google Chrome is a cross-platform web browser developed by Google. It was first released in 2008 for Microsoft Windows built with free software components from Apple WebKit and Mozilla Firefox. It was later ported to Linux, macOS, iOS, and Android where it is the default browser built into the OS.</p>
            </div>
          </div>
        </a>
        <a href="https://meet.google.com/" target="_blank" class="col no-link">
          <div class="card">
            <img class="logo-img" src="https://fonts.gstatic.com/s/i/productlogos/meet_2020q4/v1/web-96dp/logo_meet_2020q4_color_2x_web_96dp.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Meet</h4>
              <p class="card-text">Google Meet (formerly known as Hangouts Meet) is a video-communication service developed by Google. It is one of two apps that constitute the replacement for Google Hangouts, the other being Google Chat.</p>
            </div>
          </div>
        </a>
        <a href="https://drive.google.com/drive/my-drive" target="_blank" class="col no-link">
          <div class="card">
            <img class="logo-img" src="https://ssl.gstatic.com/images/branding/product/2x/hh_drive_96dp.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Google Drive</h4>
              <p class="card-text">Google Drive is a file storage and synchronization service developed by Google. Launched on April 24, 2012, Google Drive allows users to store files in the cloud, synchronize files across devices, and share files.</p>
            </div>
          </div>
        </a>
        <a href="https://www.google.com/photos/about/" target="_blank" class="col no-link">
          <div class="card">
            <img class="logo-img" src="https://i.pcmag.com/imagery/reviews/03aizylUVApdyLAIku1AvRV-39.1605559903.fit_lim.size_1050x591.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Google Photos</h4>
              <p class="card-text">Google Photos is a photo sharing and storage service developed by Google. It was announced in May 2015 and spun off from Google+, the company's former social network.</p>
            </div>
          </div>
        </a>
        <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank" class="col no-link">
          <div class="card">
            <img class="logo-img" src="https://storage.googleapis.com/gweb-uniblog-publish-prod/images/Gmail.max-1100x1100.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Gmail</h4>
              <p class="card-text">Gmail is a free email service provided by Google. As of 2019, it had 1.5 billion active users worldwide. A user typically accesses Gmail in a web browser or the official mobile app. Google also supports the use of email clients via the POP and IMAP protocols.</p>
            </div>
          </div>
        </a>
        <a href="https://www.google.com/maps/" target="_blank" class="col no-link">
          <div class="card">
            <img class="logo-img" src="https://i.ytimg.com/vi/ZG4JQX4BO9A/maxresdefault.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Google Maps</h4>
              <p class="card-text">Google Maps is a web mapping platform and consumer application offered by Google. It offers satellite imagery, aerial photography, street maps, 360° interactive panoramic views of streets, real-time traffic conditions, and route planning for traveling by foot, car, air and public transportation.</p>
            </div>
          </div>
        </a>
        <a href="https://earth.google.com/web" target="_blank" class="col no-link">
          <div class="card">
            <img class="logo-img" src="https://img.youtube.com/vi/O-XidwKsKAE/maxresdefault.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Google Earth</h4>
              <p class="card-text">Google Earth is a computer program, formerly known as Keyhole EarthViewer, that renders a 3D representation of Earth based primarily on satellite imagery.</p>
            </div>
          </div>
        </a>
        <a href="https://translate.google.co.in/?hl=en&tab=iT" target="_blank" class="col no-link">
          <div class="card">
            <img class="logo-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Google_Translate_logo.svg/512px-Google_Translate_logo.svg.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Google Translate</h4>
              <p class="card-text">Google Translate is a multilingual neural machine translation service developed by Google, to translate text, documents and websites from one language into another. It offers a website interface, a mobile app for Android and iOS, and an application programming interface that helps developers build browser extensions and software applications</p>
            </div>
          </div>
        </a>
        <a href="https://www.google.com/search?q=google+duo" target="_blank" class="col no-link">
          <div class="card">
            <img class="logo-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Google_Duo_icon.svg/1200px-Google_Duo_icon.svg.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Google Duo</h4>
              <p class="card-text">Google Duo is a video chat mobile app developed by Google, available on the Android and iOS operating systems. It was announced at Google's developer conference on May 18, 2016, and began its worldwide release on August 16, 2016. </p>
            </div>
          </div>
        </a>
        <a href="https://contacts.google.com/?hl=en" target="_blank" class="col no-link">
          <div class="card">
            <img class="logo-img" src="https://us-wd.gr-cdn.com/integrations2/sites/10/2021/02/1119/Google-Contacts-1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Google Contacts</h4>
              <p class="card-text">Google Contacts is Google's contact management tool that is available in its free email service Gmail, as a standalone service, and as a part of Google's business-oriented suite of web apps Google Workspace.</p>
            </div>
          </div>
        </a>

    </div>
</div>    
{% endblock body %}