{% extends 'base.html' %}
{% block body %}
<div class="container">
  <h1 style="text-align: center;margin-bottom: 3rem; text-transform: uppercase;">microsoft apps</h1>
    <div class="px-lg-5">    
  

      <div class="row row-cols-1 row-cols-md-2 g-4">

        <a href="https://onedrive.live.com/" target="_blank" class="col no-link">
          <div class="card">
            <img class="logo-img" src="https://p.sfx.ms/OneDriveLogoTile.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">One drive</h4>
              <p class="card-text">Microsoft OneDrive is a file hosting service and synchronization service operated by Microsoft as part of its web version of Office.</p>
            </div>
          </div>
        </a>
        <a href="https://www.office.com/" target="_blank" class="col no-link">
          <div class="card">
            <img class="logo-img" src="https://www.techrepublic.com/a/hub/i/r/2015/10/05/fe78b716-7b6e-42ac-8923-71cad64630fb/resize/1200x/f7014a6cc52954139e66b266f397ee7e/office365logo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Office 365</h4>
              <p class="card-text">Microsoft 365, formerly Office 365, is a line of subscription services offered by Microsoft which adds to and includes the Microsoft Office product line. The brand was launched on 10 July, 2017, for a superset of Office 365 with Windows 10 Enterprise licenses and other cloud-based security and device management products .</p>
            </div>
          </div>
        </a>
        <a href="https://www.microsoft.com/en-in/microsoft-teams/group-chat-software" target="_blank" class="col no-link">
          <div class="card">
            <img class="logo-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Microsoft_Office_Teams_%282018%E2%80%93present%29.svg/1200px-Microsoft_Office_Teams_%282018%E2%80%93present%29.svg.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Microsoft Teams</h4>
              <p class="card-text">Microsoft Teams is a proprietary business communication platform developed by Microsoft, as part of the Microsoft 365 family of products. Teams primarily competes with the similar service Slack, offering workspace chat and videoconferencing, file storage, and application integration.</p>
            </div>
          </div>
        </a>
        <a href="https://www.skype.com/en/" target="_blank" class="col no-link">
          <div class="card">
            <img class="logo-img" src="https://cdn.vox-cdn.com/thumbor/roe8s-PW-Jd_6SzR4dTvg-hcMvo=/0x95:1320x786/fit-in/1200x630/cdn.vox-cdn.com/uploads/chorus_asset/file/8690525/newskypelogo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Skype</h4>
              <p class="card-text">Skype is a proprietary telecommunications application that specializes in providing video chat and voice calls between computers, tablets, mobile devices, the Xbox One and Xbox Series X/S consoles, and smartwatches over the Internet. Skype also provides instant messaging services.</p>
            </div>
          </div>
        </a>
        <a href="https://www.bing.com/" target="_blank" class="col no-link">
          <div class="card">
            <img class="logo-img" src="https://resize.indiatvnews.com/en/resize/newbucket/715_-/2020/10/bing-new-logo-1601978223.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Bing</h4>
              <p class="card-text">Microsoft Bing is a web search engine owned and operated by Microsoft. The service has its origins in Microsoft's previous search engines: MSN Search, Windows Live Search and later Live Search. Bing provides a variety of search services, including web, video, image and map search products</p>
            </div>
          </div>
        </a>
        <a href="https://www.microsoft.com/en-us/edge?r=1" target="_blank" class="col no-link">
          <div class="card">
            <img class="logo-img" src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4nqTh" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Edge</h4>
              <p class="card-text">Microsoft Edge is a cross-platform web browser developed by Microsoft. It was first released for Windows 10 and Xbox One in 2015, then for Android and iOS in 2017, for macOS in 2019, and as a preview for Linux in October 2020.</p>
            </div>
          </div>
        </a>

    </div>
</div>    
{% endblock body %}