{% extends 'base.html' %}
{% block body %}
<div class="container">
  <h1 style="text-align: center;margin-bottom: 3rem; text-transform: uppercase;">shopping</h1>
    <div class="px-lg-5">    
  

      <div class="row row-cols-1 row-cols-md-2 g-4">

        <a href="https://www.amazon.in" target="_blank" class="col no-link">
          <div class="card">
            <img class="logo-img" src="https://cdn3.iconfinder.com/data/icons/social-media-2169/24/social_media_social_media_logo_amazon-256.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Amazon</h4>
              <p class="card-text">Amazon.com, Inc. is an American multinational technology company based in Seattle, Washington, which focuses on e-commerce, cloud computing, digital streaming, and artificial intelligence.</p>
            </div>
          </div>
        </a>
        <a href="https://www.flipkart.com" target="_blank" class="col no-link">
          <div class="card">
            <img class="logo-img" src="https://cdn2.iconfinder.com/data/icons/social-icons-color/512/flipkart-256.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Flipkart</h4>
              <p class="card-text">Flipkart is an Indian e-commerce company, headquartered in Bangalore, Karnataka, India, and incorporated in Singapore as a private limited company.</p>
            </div>
          </div>
        </a>
        <a href="https://www.jiomart.com/" target="_blank" class="col no-link">
          <div class="card">
            <img class="logo-img" src="https://play-lh.googleusercontent.com/qS_rE_kMQSEs_7ZZkzuZNUbRGxif7np1TxOJsv0lsnGKjFQ3cf1d6mp3BMKCcvxWCFY" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Jio Mart</h4>
              <p class="card-text">JioMart is an Indian online grocery delivery service, started as a joint venture between Reliance Retail and Jio Platforms. JioMart delivers grocery and daily essentials from nearby stores. The platform was soft-launched in December 2019.</p>
            </div>
          </div>
        </a>
        <a href="https://www.snapdeal.com/" target="_blank" class="col no-link">
          <div class="card">
            <img class="logo-img" src="https://upload.wikimedia.org/wikipedia/en/thumb/3/35/Snapdeal_Logo_new.png/480px-Snapdeal_Logo_new.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Snapdeal</h4>
              <p class="card-text">Snapdeal is an Indian e-commerce company, based in New Delhi, India. The company was founded in February 2010 by Kunal Bahl and Rohit Bansal, alumni of The Wharton School and Indian Institute of Technology Delhi respectively.</p>
            </div>
          </div>
        </a>
        <a href="https://www.ajio.com/" target="_blank" class="col no-link">
          <div class="card">
            <img class="logo-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTW3uSGdoTVX-aPZ2Z1VG_4eT-wk8M5Ir5WME1Jqv-HAnoJw3BXeV_Ir0CVOZ5yXy_-MVY&usqp=CAU" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">AJIO</h4>
              <p class="card-text">E-commerce, fashion shopping website, officially launched at the Lakme Fashion Week SS16. Owned by Reliance Retail </p>
            </div>
          </div>
        </a>
        <a href="https://www.swiggy.com/" target="_blank" class="col no-link">
          <div class="card">
            <img class="logo-img" src="https://www.searchpng.com/wp-content/uploads/2019/03/Swiggy-PNG-Logo.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Swiggy</h4>
              <p class="card-text">Swiggy is India's largest online food ordering and delivery platform, founded in 2014. Swiggy is based in Bangalore, India, and as of March 2019, was operating in 100 Indian cities. In early 2019, Swiggy expanded into general product deliveries under the name Swiggy Stores.</p>
            </div>
          </div>
        </a>
        

    </div>
</div>    
{% endblock body %}